{% extends 'base.html.twig' %}
{% block divpage %}<div class="page-accueil">{% endblock %}
{% block body %}
        <section class="content-accueil">
            <div class="container">
                <div class="bg-content-accueil">
                    <img src="{{ asset('img/background-content-accueil.png') }}">
                </div>
                <div class="row">

                    <div class="playButton">
                        <div class="contentPlay">
                            <span><a href="{{ path('parties_index') }}">Jouer</a></span>
                        </div>
                    </div>

                    <div class="notifButton">
                        <div class="contentNotif">
                            <span><a href="#">À table!</a></span>
                            <ul class="ulNotif">
                                <li>• Reunissez-vous autour d’une table !</li>
                                <li>• Testez les recettes des internautes !</li>
                                <li>• Participez au concours hebdomadaire !</li>
                                <li>• Débloquer des cadeaux !</li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>
{% endblock %}