{% extends 'base.html.twig' %}

{% block body %}
    <div class="slide1">
        <div class="container-fluid">
            <div class="row">
                <div class="content_slide1 col-lg-6 col-lg-offset-3 col-md-12 col-sm-12 col-xs-12">
                    <p>Devenez un grand cuisinier</p>
                    <button>Jouer</button>
                </div>
            </div>
        </div>
    </div>
    <div class="slide2">
        <div class="container-fluid">
            <div class="row">
                <div class="content_slide2">
                    <div class="content_slide2_left col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1 col-sm-12 col-xs-12">
                        <h2>Votre concours de la semaine</h2>
                        <h3>les olives</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat.</p>
                    </div>
                    <div class="content_slide2_right col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1 col-sm-12 col-xs-12">
                        <img src="{{ asset('img/olives.jpg') }}" class="img-responsive">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="content_footer col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <img src="{{ asset('img/twitter.png') }}">
                    <img src="{{ asset('img/facebook.png') }}">
                    <img src="{{ asset('img/insta.png') }}">
                    <p>©2017 - Projet S4 - Tous les droits sont réservés</p>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}