{% extends('base.html.twig') %}

{% block body %}
<div class="container" style="margin-top: 130px">
    <p>Vous n'êtes pas un joueur de cette partie.<br />
    Par conséquent, vous ne pouvez pas y accéder :)</p>
    <a href="{{ path('app_partie_createpartie') }}">Créer une partie !</a>
</div>
{% endblock %}