/* line 1, ../sass/screen.sass */
body {
  margin: 0;
  padding: 0;
}
/* line 4, ../sass/screen.sass */
body .fond {
  margin: 0;
  padding: 0;
  background: url("../img/fond.jpg") center;
  background-size: cover;
}
/* line 9, ../sass/screen.sass */
body .fond .zonejeu {
  width: 1120px;
  height: 630px;
  background: url("../img/plateau.png") center no-repeat;
  background-size: cover;
  margin: auto;
  position: relative;
}
/* line 16, ../sass/screen.sass */
body .fond .zonejeu .cartesAdv {
  position: absolute;
  padding-top: 7px;
  margin-left: 380px;
  width: 340px;
  text-align: center;
}
/* line 22, ../sass/screen.sass */
body .fond .zonejeu .cartesAdv img {
  margin-left: -25px;
  height: 90px;
  transform: rotate(180deg);
  -moz-box-shadow: -2px -2px 5px 0px #222;
  -webkit-box-shadow: -2px -2px 5px 0px #222;
  -o-box-shadow: -2px -2px 5px 0px #222;
  box-shadow: -2px -2px 5px 0px #222;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#222, Direction=315, Strength=5);
}
/* line 31, ../sass/screen.sass */
body .fond .zonejeu .cartesJoueur {
  padding-bottom: 7px;
  margin-left: 380px;
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 340px;
}
/* line 38, ../sass/screen.sass */
body .fond .zonejeu .cartesJoueur img {
  margin-left: -25px;
  -moz-box-shadow: 2px 2px 5px 0px #222;
  -webkit-box-shadow: 2px 2px 5px 0px #222;
  -o-box-shadow: 2px 2px 5px 0px #222;
  box-shadow: 2px 2px 5px 0px #222;
}
/* line 44, ../sass/screen.sass */
body .fond .zonejeu .scores {
  position: relative;
}
/* line 46, ../sass/screen.sass */
body .fond .zonejeu .scores div {
  border-radius: 100px;
  background-color: #373636;
  width: 90px;
  height: 90px;
  text-align: center;
  color: white;
  line-height: 90px;
  vertical-align: middle;
  font-size: 40px;
  position: absolute;
}
/* line 57, ../sass/screen.sass */
body .fond .zonejeu .scores .scoreAdv {
  margin-top: 51px;
  margin-left: 94px;
}
/* line 60, ../sass/screen.sass */
body .fond .zonejeu .scores .scoreJoueur {
  left: 953px;
  top: 451px;
}
/* line 66, ../sass/screen.sass */
body .fond .zonejeu .pointsCat div div {
  position: absolute;
  border-radius: 100px;
  background-color: #373636;
  width: 25px;
  height: 25px;
  text-align: center;
  color: white;
  line-height: 25px;
  vertical-align: middle;
  font-size: 14px;
}
/* line 78, ../sass/screen.sass */
body .fond .zonejeu .pointsCat .ptsAperitif .ptsAdv {
  left: 309px;
  top: 258px;
}
/* line 81, ../sass/screen.sass */
body .fond .zonejeu .pointsCat .ptsAperitif .ptsJoueur {
  left: 309px;
  top: 368px;
}
/* line 85, ../sass/screen.sass */
body .fond .zonejeu .pointsCat .ptsEntree .ptsAdv {
  left: 417px;
  top: 258px;
}
/* line 88, ../sass/screen.sass */
body .fond .zonejeu .pointsCat .ptsEntree .ptsJoueur {
  left: 417px;
  top: 368px;
}
/* line 92, ../sass/screen.sass */
body .fond .zonejeu .pointsCat .ptsPlat .ptsAdv {
  left: 538px;
  top: 258px;
}
/* line 95, ../sass/screen.sass */
body .fond .zonejeu .pointsCat .ptsPlat .ptsJoueur {
  left: 538px;
  top: 368px;
}
/* line 99, ../sass/screen.sass */
body .fond .zonejeu .pointsCat .ptsFromage .ptsAdv {
  left: 668px;
  top: 258px;
}
/* line 102, ../sass/screen.sass */
body .fond .zonejeu .pointsCat .ptsFromage .ptsJoueur {
  left: 668px;
  top: 368px;
}
/* line 106, ../sass/screen.sass */
body .fond .zonejeu .pointsCat .ptsDessert .ptsAdv {
  left: 806px;
  top: 258px;
}
/* line 109, ../sass/screen.sass */
body .fond .zonejeu .pointsCat .ptsDessert .ptsJoueur {
  left: 806px;
  top: 368px;
}
/* line 115, ../sass/screen.sass */
body .fond .zonejeu .defausses div img {
  position: absolute;
  width: 50px;
  top: 290px;
}
/* line 120, ../sass/screen.sass */
body .fond .zonejeu .defausses .apero img {
  left: 295px;
}
/* line 123, ../sass/screen.sass */
body .fond .zonejeu .defausses .entree img {
  left: 398px;
}
/* line 126, ../sass/screen.sass */
body .fond .zonejeu .defausses .plat img {
  left: 525px;
}
/* line 129, ../sass/screen.sass */
body .fond .zonejeu .defausses .laitage img {
  left: 655px;
}
/* line 132, ../sass/screen.sass */
body .fond .zonejeu .defausses .dessert img {
  left: 790px;
}
/* line 137, ../sass/screen.sass */
body .fond .zonejeu .jetons img {
  width: 30px;
}
/* line 139, ../sass/screen.sass */
body .fond .zonejeu .pioche {
  position: absolute;
  left: 962px;
  top: 186px;
}
/* line 143, ../sass/screen.sass */
body .fond .zonejeu .pioche .nbrPioche {
  position: absolute;
  border-radius: 100px;
  background-color: #373636;
  width: 25px;
  height: 25px;
  text-align: center;
  color: white;
  line-height: 25px;
  vertical-align: middle;
  font-size: 14px;
  left: 20px;
  top: 97px;
}
/* line 156, ../sass/screen.sass */
body .fond .zonejeu .pioche img {
  height: 90px;
  -moz-box-shadow: 2px 2px 5px 0px #222;
  -webkit-box-shadow: 2px 2px 5px 0px #222;
  -o-box-shadow: 2px 2px 5px 0px #222;
  box-shadow: 2px 2px 5px 0px #222;
}
