{% extends "::base.html.twig" %}

{% block title %}AppBundle:User:afficherMonProfil{% endblock %}

{% block body %}
<h1>Welcome to the User:afficherMonProfil page</h1> {{ app.user.username }}
    <a href="modifier-profil">Modifier mon profil</a>
{% endblock %}
