{% extends "::base.html.twig" %}

{% block title %}AppBundle:User:afficherProfil{% endblock %}

{% block body %}
<h1>Welcome to the User:afficherProfil page</h1> username: {{ user.username }}
{% endblock %}
